@font-face {
    font-family: 'VT323';
    src: url('/fonts/VT323/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Press_Start_2P';
    src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierPrime';
    src: url('/fonts/CourierPrime/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierPrime';
    src: url('/fonts/CourierPrime/CourierPrime-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CourierPrime';
    src: url('/fonts/CourierPrime/CourierPrime-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CourierPrime';
    src: url('/fonts/CourierPrime/CourierPrime-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}